doctype html
html
    head
        meta(charset="utf-8")
        script(src="/socket.io/socket.io.js")

    body

        .progressbar

            .bar
            //.outline
        .blackscreen
        .menu
            .buttons
                .button
                    .btn_fill.fillLow
                    .btn_outline
                    a(href="javascript:void(0);").playLow.play Dive -Low-

                .button
                    .btn_fill.fillHigh
                    .btn_outline
                    a(href="javascript:void(0);").playHigh.play Dive -High-

            .about

                a(href="javascript:void(0);").about about
            .aboutText
                h1 DEEPER.IO - ver 0.1 -
                p
                    | DEEPER.IO is audio and data visualize project.
                    br
                    | This is beta version yet.
                    br
                    | It will be updated soon. Looking forward to.
                    br
                    br
                h2 Resolution info
                p
                    | Low...640*320 High...1024*512
                .close
                    img(src="img/close.svg")
                .sns
                    p by Murasaki Yuma
                    .flex
                        a(href="https://twitter.com/murasaki_0606" target="blank").twitter.snsicon
                            img(src="img/twitter.svg")
                        a(href="https://www.facebook.com/murasaki.uma" target="blank").facebook.snsicon
                            img(src="img/facebook.svg")
                        a(href="https://www.instagram.com/murasaki9266/" target="blank").instagram.snsicon
                            img(src="img/instagram.svg")
